html{ height: 100%}

body { background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);}

H1 {font-family: inherit;
    text-align: center;
    font-size: 36px;
    font-weight: 300;}

p {display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

img { display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;}

